/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  scroll-behavior: smooth;
  /* scroll-padding: 10rem; */
}

/* Farver */
html {
  --variable: #000000;
  --pink: #e71a73;
  --yellow: #fffd87;
  --green: #3f4e3e;
  --light_pink: #fff5fa;
  --gray: #31302e;
  scroll-behavior: smooth;
}

/* Andet */
.white_space {
  height: 80px;
}

body {
  background-color: var(--light_pink);
  overflow-x: hidden;
}

.text_margin {
  padding: 40px;
}

/* Skrifttyper */
h1 {
  font-family: owners-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: owners-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

h3 {
  font-family: owners-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

h4 {
  font-family: owners-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

p {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 1.7rem;
  max-width: 47rem;
}

/* Mobilversion */
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  .text_margin {
    padding: 0 160px;
  }
}

@media (min-width: 1200px) {
  .text_margin {
    padding: 0 220px;
  }
}
