---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import VolunteerForm from "../components/VolunteerForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  fanenavn={"Bakkefest | Frivillig"}
  meta={"Læs om hvordan du kan blive frivillig til Bakkefest og være med til at skabe en fantastisk festival"}
>
  <Header />
  <main>
    <VolunteerForm />
  </main>
  <Footer />
</Layout>

<style></style>
