---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import VolunteerForm from "../components/VolunteerForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <VolunteerForm />
  </main>
  <Footer />
</Layout>

<style></style>
