---
import ButtonArrow from "./ButtonArrow.astro";
---

<img src="/assets/bakke-up_big.svg" alt="Section divider" class="hill" />
<section class="text_margin grid_1-1">
  <img src="/assets/100years.svg" alt="Festivalen fyldt ud med mennesker" />
  <div>
    <h2>100 års jubilæum I 2019</h2>
    <p>
      I 2019 holdte vi et brag af en Bakkefest, i anledning af vores 100 års
      jubilæum. I 2019 fulgte vi endnu engang op med et vildt musik program, her
      væltede SUSPEKT Bakkefesten. Hvilket gjorde, at vi for første gang
      nogensinde måtte lukke indgangene… <br />Glæd jer til Bakkefesten 2025,
      hvor vi gør det hele igen!
    </p>
    <div class="flex_row">
      <a href="https://bakkeselskabet.dk/"
        ><h4>Læs mere på Bakkeselskabets hjemmeside</h4></a
      >

      <ButtonArrow
        url="https://bakkeselskabet.dk/"
        background_color="var(--yellow)"
        arrow_color="var(--green)"
      />
    </div>
  </div>
</section>
<img src="/assets/bakke-down_small.svg" alt="Section divider" class="hill2" />

<style>
  .flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .flex_row:hover h4 {
    color: var(--yellow);
  }

  .flex_row:hover {
    scale: 1.01;
    transition: 0.2s;
  }

  .hill {
    margin-bottom: -2px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(9%) saturate(1004%)
      hue-rotate(68deg) brightness(95%) contrast(87%);
  }

  .hill2 {
    margin-top: -2px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(9%) saturate(1004%)
      hue-rotate(68deg) brightness(95%) contrast(87%);
  }

  section {
    background-color: var(--green);
  }

  .grid_1-1 img {
    height: auto;
  }

  h2,
  h4 {
    color: var(--light_pink);
    text-transform: uppercase;
  }

  p {
    color: var(--light_pink);
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .text_margin {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  a {
    text-decoration: none;
    transition: 0.2s;
  }

  @media (min-width: 800px) {
    .grid_1-1 {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    .flex_row {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }
  }
</style>
