---
// @ts-nocheck
---

<nav class="nav">
  <!-- id=burger er sat så elementet kan hives fat i i javascript og få tilføjet class=active-->
  <div class="burger" id="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <ul class="menu" id="menu">
    <li class="space-around"><a href="/">KØB BILLET</a></li>
    <li><a href="/program">PROGRAM</a></li>
    <li><a href="/praktisk">PRAKTISK INFO</a></li>
    <li><a href="https://www.flickr.com/photos/bakkefest/">GALLERI</a></li>
    <li><a href="/bagbakkefest">HVEM ER VI?</a></li>
    <li class="space-around"><a href="/">BLIV FRIVILLIG</a></li>
  </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // opretter constanter, i elementerne burger og menu som findes i html
    const burger = document.getElementById("burger");
    const menu = document.getElementById("menu");
    console.log(burger, menu);

    burger.addEventListener("click", () => {
      // aktiverer animation, som gør de tre streger bliver til et kryds
      burger.classList.toggle("active");

      // viser/skjuler menuen via CSS
      menu.classList.toggle("active");

      // tilføjer class=no-scroll som gør det ikke er muligt at scrolle når menuen er åben
      document.body.classList.toggle("no-scroll");
    });

    // Luk menu når man klikker på et link
    // denne funktion kører, hver gang der klikkes på noget inde i menuen (e står for event)
    menu.addEventListener("click", (e) => {
      // e.target er det element der blev klikket på og tagName er typen af element
      if (e.target.tagName === "A") {
        // krydset forsvinder
        burger.classList.remove("active");

        // skjuler menuen
        menu.classList.remove("active");

        // gør det muligt at scrolle menuen igen
        document.body.classList.remove("no-scroll");
      }
    });
  });
</script>

<style>
  .nav {
    position: relative;
    z-index: 100;
  }

  /* styling af burger */
  .burger {
    display: block;
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 101;
    cursor: pointer;
  }

  .burger .line {
    height: 3px;
    width: 100%;
    background-color: var(--pink);
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  /* linjerne i burger bliver til et kryds når burgeren er aktiv */
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);

    /* krydset bliver gult når burgeren er aktiv */
    background-color: var(--yellow);
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);

    /* krydset bliver gult når burgeren er aktiv */
    background-color: var(--yellow);
  }

  /* tilføjer classen i body og html, så det ikke er muligt at scrolle når menuen er åben */
  html.no-scroll,
  body.no-scroll {
    overflow: hidden;
    height: 100%;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    list-style: none;
    margin: 0;
    padding: 0 60px;
    z-index: 100;
  }

  .menu.active {
    transform: translateX(0);
  }

  .menu li {
    margin: 10px 0;
  }

  .menu a {
    font-size: 35px;
    font-family: owners-wide, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--yellow);
    text-decoration: none;
    transition: 0.2s;
  }

  .space-around {
    padding: 50px 0;
  }

  .space-around a {
    text-decoration: underline;
  }

  .menu a:hover {
    color: white;
  }
</style>
