---
// @ts-nocheck
---

<nav class="nav">
  <!-- id=burger er sat så elementet kan hives fat i i javascript og få tilføjet class=active-->
  <div class="burger" id="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <ul class="menu" id="menu">
    <li class="space-around">
      <a
        href='https://www.ticketmaster.dk/artist/bakkefest-billetter/972610?language=da-dk/"'
        target="_blank">KØB BILLET</a
      >
    </li>
    <li><a href="/">FORSIDE</a></li>
    <li><a href="/program">PROGRAM</a></li>
    <li><a href="/praktisk">PRAKTISK INFO</a></li>
    <li>
      <a href="https://www.flickr.com/photos/bakkefest/" target="_blank"
        >GALLERI</a
      >
    </li>
    <li><a href="/bagbakkefest">HVEM ER VI?</a></li>
    <li class="space-around"><a href="/frivillig">BLIV FRIVILLIG</a></li>

    <li><h3>FØLG OS PÅ <br /> SOCIALE MEDIER!</h3></li>
    <li class="img_some">
      <a href="https://www.instagram.com/bakkefest" target="_blank">
        <img src="/assets/instagram.svg" alt="Instagram ikon" />
      </a>
      <a href="https://www.facebook.com/Bakkefesten/" target="_blank">
        <img src="/assets/facebook.svg" alt="Facebook ikon" />
      </a>
    </li>
  </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Opretter constanter for elementerne burger og menu som findes i HTML
    const burger = document.getElementById("burger");
    const menu = document.getElementById("menu");

    burger.addEventListener("click", () => {
      // Aktiverer animation, som gør de tre streger bliver til et kryds
      burger.classList.toggle("active");

      // Viser/skjuler menuen via CSS
      menu.classList.toggle("active");

      // Tilføjer class=no-scroll som gør det ikke er muligt at scrolle når menuen er åben
      document.body.classList.toggle("no-scroll");
    });

    // Luk menu når man klikker på et link
    // Denne funktion kører, hver gang der klikkes på noget inde i menuen (e står for event)
    menu.addEventListener("click", (e) => {
      // e.target er det element der blev klikket på og tagName er typen af element
      if (e.target.tagName === "A") {
        // Krydset forsvinder
        burger.classList.remove("active");

        // Skjuler menuen
        menu.classList.remove("active");

        // Gør det muligt at scrolle igen
        document.body.classList.remove("no-scroll");
      }
    });

    // // Til denne ændrene farve med filter sektion, kig i Header.astro for en forklaring på hvorfan det virker
    // document.addEventListener("scroll", () => {
    //   const lines = document.querySelectorAll(".line");

    //   const elements = document.elementsFromPoint(100, 60);

    //   // Udvidet: Tjekker nu også om et element har klassen .hill_filter
    //   const isOverPinkOrHill = Array.from(elements).some((el) => {
    //     const styles = window.getComputedStyle(el);
    //     const bgColor = styles.backgroundColor;
    //     // Tjek for hill_filter class
    //     const hasHillClass =
    //       el.classList && el.classList.contains("hill_filter");
    //     return bgColor === "rgb(231, 26, 115)" || hasHillClass;
    //   });

    //   // her tilføjes et filter til linjerne i burger menuen enkelvis, når den kører over det ønskede punkt, og hvis det ikke er over det ønskede punkt, fjernes filteret
    //   // forEach bruges for at sikre, at alle linjer får filteret, men uden at påvirke andet indhold, da man kun kan sætte style.filter direkte på ét element ad gangen.
    //   lines.forEach((line) => {
    //     if (isOverPinkOrHill) {
    //       line.style.filter =
    //         "brightness(0) saturate(100%) invert(89%) sepia(56%) saturate(483%) hue-rotate(191deg) brightness(107%) contrast(103%)";
    //     } else {
    //       line.style.filter = "";
    //     }
    //   });
    // });
  });
</script>

<style>
  .nav {
    position: relative;
    z-index: 100;
  }

  /* styling af burger menuen */
  .burger {
    margin-top: 0.7rem;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 101;
    cursor: pointer;
  }

  .burger .line {
    height: 3px;
    width: 100%;
    background-color: var(--pink);
    margin: 4.3px 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* linjerne i burger bliver til et kryds når burgeren er aktiv */
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
    /* krydset bliver lyserød når burgeren er aktiv, for at skælne mellem burgermenuens elementer */
    background-color: var(--light_pink);
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
    /* krydset bliver gult når burgeren er aktiv */
    background-color: var(--light_pink);
  }

  /* tilføjer classen i body og html, så det ikke er muligt at scrolle når menuen er åben */
  html.no-scroll,
  body.no-scroll {
    overflow: hidden;
    height: 100%;
  }

  .img_some {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    gap: 10px;
  }
  .img_some img {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
  }

  img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  h3 {
    color: var(--yellow);
    text-align: end;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    list-style: none;
    margin: 0;
    padding: 0 60px;
    z-index: 100;
  }

  .menu.active {
    transform: translateX(0);
  }

  .menu a {
    font-size: 20px;
    font-family: owners-wide, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--yellow);
    text-decoration: none;
    transition: 0.2s;
  }

  .space-around {
    padding: 40px 0;
  }

  .menu a:hover {
    color: var(--light_pink);
    text-decoration: underline;
  }

  @media (min-width: 600px) {
    .menu a {
      font-size: 32px;
    }

    .space-around {
      padding: 50px 0;
    }
  }
</style>
