---
const { url, arrow_color, background_color } = Astro.props;
---

<a href={url} style=`background-color: ${background_color};`>
  <p style=`color: ${arrow_color}`>➜</p>
</a>

<style>
  a {
    padding: 0.4rem 0.7rem;
    border-radius: 50px;
    aspect-ratio: 1/1;
    height: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
  }

  a:hover {
    scale: 1.2;
    transition: 0.3s;
  }

  p {
    font-weight: 600;
    font-size: 1.2rem;
    transform: rotate(-45deg);
  }
</style>
