<footer>
  <div class="grid_1-2">
    <div class="footer_left">
      <div>
        <h2>KONTAKTINFO</h2>
        <p>Telefon nr.: <a href="tel:+4548301932">48 30 19 32</a></p>
        <p>
          E-mailadresse: <a href="mailto:info@bakkefest.dk">info@bakkefest.dk</a
          >
        </p>
        <p>
          Adresse: Gilleleje Hallen / Festpladsen <br />Bøgebakken 19C, 3250
          Gilleleje
        </p>
      </div>
      <div>
        <h2>ÅBNINGSTIDER</h2>
        <p>Mandag – fredag: 8.00 – 15.30</p>
        <p>Weekend efter aftale</p>
      </div>
    </div>

    <div class="footer_right">
      <div>
        <h2>Send os en besked!</h2>
        <p>
          Skriv dit navn og e-mailadresse herunder samt en besked indeholdende
          din forspørgsel. Udfyld venligst hele kontaktformularen.
        </p>
      </div>

      <div>
        <div>
          <form action="/send-message" method="POST">
            <label for="name"></label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Fulde navn"
              required
            />

            <label for="phone"></label>
            <input
              type="tel"
              id="phone"
              name="phone"
              placeholder="Telefonnummer"
              required
            />
          </form>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</footer>
