---
import Layout from "../layouts/Layout.astro"
import generel
---

<Layout>
    <div class="footer">
        <div class="footer__container">
            <div class="footer__container__content">
                <h2>Pink Pulse</h2>
                <p>Pink Pulse er et fællesskab for alle, der ønsker at dele deres passion for skønhed og velvære. Vi tilbyder en platform til at dele tips, tricks og erfaringer med andre.</p>
            </div>
            <div class="footer__container__links">
                <a href="/om-os">Om os</a>
                <a href="/kontakt">Kontakt</a>
                <a href="/privatlivspolitik">Privatlivspolitik</a>
            </div>
        </div>
    </div


