---
import ButtonText from "./ButtonText.astro";
import Burger from "./Burger.astro";
---

<header>
  <div>
    <a href="/">
      <img src="/assets/bakkefestlogo.svg" alt="Logo" class="logo" /></a
    >
    <h5>11. - 13. juli // Gilleleje</h5>
  </div>
  <div>
    <ButtonText
      text="Køb Billet"
      text_color="var(--pink)"
      background_color="var(--yellow)"
      url="https://www.ticketmaster.dk/artist/bakkefest-billetter/972610?language=da-dk"
    />
    <Burger />
  </div>
</header>

<style>
  .pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  @keyframes pulse_kf {
    from {
      scale: 1;
    }
    to {
      scale: 0.9;
    }
  }
  header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1rem 6rem;
    background-color: transparent;
    z-index: 100;
  }

  .logo {
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    transition: 0.3s;
  }

  .logo:hover {
    scale: 1.2;
    transition: 0.3s;
  }

  h5 {
    font-family: owners-xwide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--pink);
  }

  div {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  img {
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  }

  @media (max-width: 1000px) {
    header {
      padding: 1rem 2rem;
    }
  }
</style>
