---
//@ts-check
import MadDrikkeInfo from "./MadDrikkeInfo.astro";
---

<main>
  <section class="section-divider-3">
    <img src="/assets/bakke-divider-3.svg" alt="Bakkeform, der opdeler siden" />
  </section>
  <section class="green_section">
    <section class="text_margin">
      <div class="tekst_praktisk">
        <h1>MAD- OG DRIKKEBODER</h1>
        <p>
          Nedenfor kan du få et overblik over de forskellige mad- og
          drikkevarer, der tilbydes i år til Bakkefest. Her kan du se hvilke
          muligheder, der er i både madboder, drinks- og ølbarer.
        </p>
      </div>
    </section>
    <div class="accordion-wrapper text_margin">
      <MadDrikkeInfo
        title="MADBOD 1"
        content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
      />
      <MadDrikkeInfo
        title="MADBOD 2"
        content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
      />
      <MadDrikkeInfo
        title="MADBOD 3"
        content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
      />
      <MadDrikkeInfo
        title="MADBOD 4"
        content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
      />
      <MadDrikkeInfo
        title="DRIKKE 1"
        content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
      />
      <MadDrikkeInfo
        title="DRIKKE 2"
        content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
      />
    </div>
  </section>
</main>

<style>
  .section-divider-3 {
    width: 100%;
    /* skjuler indhold, der skulle gå udover grænsen */
    overflow: hidden;

    /* -2px i margin bottom for at undgå den skilles og lyserød baggrund vises*/
    margin-bottom: -2px;
  }

  .section-divider-3 img {
    /* fylder hele bredden af det den har til rådighed */
    display: block;
    width: 100%;
    height: auto;
  }

  .accordion-wrapper {
    margin: 0 auto;
    margin-bottom: 6rem;
    text-align: left;
  }

  h1 {
    font-size: 40px;
    color: var(--yellow);
    margin-bottom: 1rem;
  }

  p {
    font-size: 18px;
    line-height: 1.8rem;
    color: var(--yellow);
  }

  .green_section {
    background-color: var(--green);
    padding: 2rem 0;
  }

  @media (min-width: 600px) {
    .tekst_praktisk {
      max-width: 700px;
      margin-bottom: 3rem;
    }
  }
</style>
