---

---

<section class="wave-divider-1">
  <img src="/assets/bakke-divider-1.svg" alt="" />
</section>
<section class="pink_pulse_box text_margin">
  <div class="pink-pulse-title">
    <h2>OPLEV DEN PINK PULS TIL BAKKEFEST 2025</h2>
  </div>
  <div class="pink-pulse-img">
    <img src="/assets/placeholder-2-1.webp" alt="Pink Pulse" />
  </div>
  <div class="pink-pulse-text">
    <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum."
    </p>
  </div>
</section>
<section class="wave-divider-2">
  <img src="/assets/bakke-divider-2.svg" alt="" />
</section>

<style>
  .wave-divider-1 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* -2px i margin bottom for at undgå den skilles og lyserød baggrund vises*/
    margin-bottom: -2px;
  }

  .wave-divider-2 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* -2px i margin top for at undgå den skilles og lyserød baggrund vises*/
    margin-top: -2px;
  }

  .wave-divider img {
    display: block;
    width: 100%;
    height: auto;
  }
  @media (min-width: 600px) {
    .pink_pulse_box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 20px;
      align-items: center;
      padding-bottom: 20px;
    }

    .pink-pulse-img {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }
</style>
