---

---

<!-- section divider placeres som img i sin egen section, de steder det skal skille sektionerne -->
<section class="section-divider-1">
  <img
    src="/assets/bakke-divider-1.svg"
    alt="Illustration af bakke, brugt til at skille sektionerne ad"
  />
</section>
<section class="pink_pulse_box text_margin" id="pink-pulse">
  <div class="pink-pulse-title">
    <h2>OPLEV DEN PINK PULS <br /> TIL BAKKEFEST 2025</h2>
  </div>
  <div class="pink-pulse-img">
    <video autoplay muted loop playsinline width="380">
      <source src="/assets/pinkpulse_video.webm" type="video/webm" />
    </video>
  </div>
  <div class="pink-pulse-text">
    <p>
      Kom og mærk den pulserende energi, når Pink Puls fylder luften til dette
      års Bakkefest. Det bliver tre dage fyldt med fællesskab, fest og sitrende
      sommerstemning, hvor du kan skabe uforglemmelige øjeblikke med dine venner
      og familie. <br /><br />Lad den pinke puls føre dig gennem energiske
      koncerter, lækre madoplevelser og sjove aktiviteter for både store og små.
      Det bliver en fest, du ikke vil gå glip af, så glæd dig til at mærke den
      Pink Puls og lad dig blive rystet igennem til rytmerne af Bakkefest.
    </p>
  </div>
</section>
<section class="section-divider-2">
  <img
    src="/assets/bakke-divider-2.svg"
    alt="Section divider"
    class="hill_filter"
  />
</section>

<style>
  .section-divider-1 {
    width: 100%;
    /* skjuler indhold, der skulle gå udover grænsen */
    overflow: hidden;

    /* -2px i margin bottom for at undgå den skilles og lyserød baggrund vises*/
    margin-bottom: -2px;
  }

  .section-divider-2 {
    width: 100%;
    /* skjuler indhold, der skulle gå udover grænsen */
    overflow: hidden;
    /* -2px i margin top for at undgå den skilles og lyserød baggrund vises*/
    margin-top: -2px;
  }

  .wave-divider img {
    /* fylder hele bredden af det den har til rådighed */
    display: block;
    width: 100%;
    height: auto;
  }

  .pink-pulse-img {
    padding: 10px 0px;
    place-self: center;
  }

  .pulse_video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    border-color: blue;
    border-width: 5px;
  }

  .pink_pulse_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 20px;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  @media (min-width: 800px) {
    .pink_pulse_box {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0 20px;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 50px;
    }

    .pink-pulse-img {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }
</style>
