---

---

<section class="pink-pulse-instagram text_margin">
  <h2>#PINKPULSE</h2>
  <h4>#BAKKEFEST25</h4>
  <p>
    Del dine bedste festivaløjeblikke med os! Brug hashtagget #pinkpulsbf25 og
    tag os i dine billeder – vi elsker at se, hvordan du oplever Bakkefest!
  </p>
  <div class="instagram-imgs">
    <img src="/assets/placeholder.webp" alt="" />
    <img src="/assets/placeholder.webp" alt="" />
    <img src="/assets/placeholder.webp" alt="" class="hide" />
    <img src="/assets/placeholder.webp" alt="" class="hide" />
    <img src="/assets/placeholder.webp" alt="" class="hide" />
  </div>
</section>

<style>
  .pink-pulse-instagram {
    background-color: var(--pink);
    padding-top: 60px;
    padding-bottom: 80px;
  }

  h2,
  h4,
  p {
    color: var(--light_pink);
    margin: 10px 0;
    max-width: 65ch;
  }
  @media (max-width: 800px) {
    /* class "hide" for at skjule de sidste 3 billeder i mobilversion */
    /* max-width er her på 800, for at der kun er 2 billeder på siden indtil skærmen er på 800px */
    .hide {
      display: none;
    }
  }
  .instagram-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
  }

  @media (min-width: 800px) {
    /* min-width er her på 800, for at der 5 billeder på siden indtil skærmen er på 800px. Ser pænere ud, end hvis de 5 billeder bliver helt små til der kun 2 på skærmen i mobilversion*/
    .instagram-imgs {
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      margin-top: 30px;
    }
  }
</style>
