---
import ButtonArrow from "./ButtonArrow.astro";
---

<img src="/assets/bakke-up_big.svg" alt="Section divider" class="hill" />
<section class="text_margin grid_1-1">
  <div>
    <h2>Lyden af bakkefest 2025</h2>
    <h4>Lyt til vores playliste for 2025 på Spotify</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
      ultricies tellus vitae dictum convallis. Vestibulum pretium sodales
      volutpat. Nulla facilisi.
    </p>
    <div class="flex_row">
      <a
        href="https://open.spotify.com/embed/playlist/6eYWPTB8yTQ5zJBM7VDLGd?utm_source=generator"
      >
        <h4>Gå til playliste</h4>
        <ButtonArrow
          url=""
          background_color="var(--yellow)"
          arrow_color="var(--pink)"
        />
      </a>
    </div>
  </div>
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/playlist/6eYWPTB8yTQ5zJBM7VDLGd?utm_source=generator"
    width="100%"
    height="400px"
    allowfullscreen=""
    frameborder="0"
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</section>
<img src="/assets/bakke-down_small.svg" alt="Section divider" class="hill2" />

<style>
  .hill {
    margin-bottom: -2px;
  }

  .hill2 {
    margin-top: -2px;
  }

  section {
    background-color: var(--pink);
  }

  h2,
  h3,
  h4 {
    color: var(--light_pink);
    text-transform: uppercase;
  }

  h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--light_pink);
  }

  .flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin-top: 25px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .text_margin {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  a {
    text-decoration: none;
    transition: 0.3s;
  }

  .flex_row h4:hover {
    color: var(--yellow);
  }
  .flex_row:hover {
    color: var(--yellow);
    scale: 1.01;
    transition: 0.2s;
  }

  @media (max-width: 800px) {
    .grid_1-1 {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
</style>
