---

---

<section>
  <img src="/assets/poster-fri.webp" alt="Bakkefest tidsplan for fridag" />
  <img src="/assets/poster-sat.webp" alt="Bakkefest tidsplan for lørdag" />
  <img src="/assets/poster-sun.webp" alt="Bakkefest tidsplan for søndag" />
</section>

<style>
  @media (min-width: 600px) {
    section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
