---
//@ts-check
import PracticalInfoBox from "./PracticalInfoBox.astro";
---

<div style="height: 150px;"></div>

<!-- Skaber mellemrum mellem indholdet og toppen af siden -->

<main>
  <section class="text_margin">
    <div class="tekst_praktisk">
      <h1>PRAKTISK INFO</h1>
      <p>
        Her finder du den mest nødvendige information om Bakkefesten. Hvis du
        har yderligere spørgsmål, er du mere end velkommen til at kontakte os på
        mail eller gennem vores Facebook-side.
      </p>
    </div>
  </section>

  <div class="accordion-wrapper text_margin">
    <PracticalInfoBox
      title="ÅBNINGSTIDER TIL BAKKEFEST"
      content="Selvom det kunne være fedt at feste hele natten, så går den desværre ikke. Vi har brug for lidt tid i de sene nattetimer til at rydde op og gøre klar til næste dag."
    >
      <ul>
        <li>Fredag d. 11. juli klokken 14.00 til klokken 01.30</li>
        <li>Lørdag d. 12. juli klokken 12.00 til klokken 01.30</li>
        <li>Søndag d. 13. juli klokken 10.00 til klokken 20.00</li>
      </ul>
    </PracticalInfoBox>

    <PracticalInfoBox
      title="ADGANGSBILLET"
      content="Til Bakkefesten kan der købes billetter online hos Ticketmaster. Der kan købes endagsbilletter til fredag og lørdag eller en samlet partoutbillet. Søndag er gratis adgang for alle. Grundet stort pres på indgangene anbefales det at komme i god tid. Der kan ikke købes billetter i indgangen, men skal købes online. Priserne er som følgende:"
    >
      <ul>
        <li>Partout: 600 kr.</li>
        <li>Fredag: 300 kr.</li>
        <li>Lørdag: 300 kr.</li>
        <li>Søndag: Gratis</li>
      </ul>
    </PracticalInfoBox>

    <PracticalInfoBox
      title="BETALING PÅ PLADSEN"
      content="I Bakkefestens barer og boder kan der kun betales med kort. Hvis man skal bruge kontanter, kan disse indsættes på Bakkefest betalingskort i bureauet på festpladsen. Bakkefest betalingskortet kan kun bruges i Bakkefestens egne boder og ikke i Ankers Tivolipark"
    />

    <PracticalInfoBox
      title="ORDENSREGLER UNDER BAKKEFEST"
      content="Af hensyn til opretholdelse af ro og orden og publikums sikkerhed, har Bakkefesten fastsat følgende regler til overholdelse på festpladsens områder:"
    >
      <ul>
        <li>
          Der er kun adgang på festpladsen for betalende gæster med gyldig
          billet/armbånd.
        </li>
        <li>
          Der kan forekomme visitation af gæster ved adgang i alle indgange.
        </li>
        <li>
          Personer der uberettiget og med forsæt forsøger at skaffe sig adgang
          til et af festpladsens områder bliver politianmeldt for ulovlig
          indtrængen og kan blive pålagt at betale en afgift på
        </li>
        <li>
          Personer, som fremstår utryghedsskabende i deres påklædning,
          afmærkning eller adfærd, får ikke adgang til festpladsen og dens
          områder.
        </li>
        <li>
          Der kan kun købes alkohol af personer over 18 år. Barpersonalet har
          pligt til at bede om ID-legitimation i alle tvivlstilfælde. Det er
          ikke tilladt for voksne over 18 år at købe eller udlevere alkohol til
          unge under 18 år
        </li>
        <li>
          Alle former for vold eller trusler om vold mod service-,
          sikkerhedspersonale, medhjælpere eller øvrige gæster medfører
          øjeblikkelig politianmeldelse. Alle former for aggressiv adfærd er
          forbudt. Der skal udvises størst muligt hensyn til det øvrige publikum
          og til Bakkefestens medarbejdere
        </li>
        <li>Sikkerhedspersonalets anvisninger skal efterkommes uopholdeligt</li>
        <li>
          Følgende må ikke medbringes (ikke udtømmende): våben, dyr, drikkevarer
          der ikke er købt på festivalområdet, flag, bannere eller
          bannerstænger, siddemøbler, fyrværkeri eller laserpenne.
        </li>
        <li>
          Crowdsurfing, stagediving, moshing og andre sikkerhedsbelastende
          publikumsaktiviteter er forbudt
          <li>
            Overtrædelse af ovenstående kan medføre øjeblikkelig bortvisning
            og/eller politianmeldelse. Med venlig hilsen, Bakkefesten,
            Bakkeselskabet
          </li>
        </li>
      </ul>
    </PracticalInfoBox>

    <PracticalInfoBox
      title="PARKERING"
      content="Festpladsen er desværre byens største parkeringsplads, hvilket gør at parkering tæt på Festpladsen er tæt på umuligt. Derfor fraråder vi også at man tager bilen til Bakkefest. Hvis du alligevel vælger at tage bilen, er den nærmeste parkering her:"
    >
      <ul>
        <li>Ved 365</li>
        <li>På stationen</li>
        <li>Ved Netto</li>
        <li>Ved Rema</li>
      </ul>
    </PracticalInfoBox>

    <PracticalInfoBox
      title="OFFENTLIG TRANSPORT OG KØRSELSVEJLEDNING"
      content="Hvis offentlig transport er mere din stil, opfordrer vi dig til at tjekke rejseplanen for at undersøge, hvordan du nemmest kommer fra din dør til Festpladsen. Gilleleje Station er nabo til Festpladsen, hvilket gør denne transport til bedst mulige. Se herunder hvordan lokalbanen kører fredag og lørdag nat:"
    >
      <ul>
        <li>
          Fredag: Ekstra tog til Hillerød afgår fra Gilleleje kl. 00.33 og kl.
          01.30
        </li>
        <li>Fredag: Ekstra tog til Helsingør afgår fra Gilleleje kl. 01.30</li>
        <li>Lørdag: Ekstra tog til Hillerød afgår fra Gilleleje kl. 01.30</li>
        <li>Lørdag: Ekstra tog til Helsingør afgår fra Gilleleje kl. 01.30</li>
      </ul>

      <ul>
        <li>Fra Helsingør-motorvejen</li>
        <li>Hold til højre ved frakørsel nr. 4 (E47), kør 538 m</li>
        <li>Drej til venstre ind på Hornbækvej (235), kør 757 m</li>
        <li>Tag anden afkørsel i rundkørslen (retning ligeud).</li>
        <li>Fortsæt ad Hornbækvej (235), kør 7.3 km</li>
        <li>Drej til venstre ind på Esrumvej (205), kør 7.2 km</li>
        <li>Drej til højre ind på Tilkørsel mod Rute 227, kør 165 m</li>
        <li>Drej til højre og fortsæt ad Gillelejevej (227), kør 8.6 km</li>
        <li>Tag anden afkørsel i rundkørslen (retning ligeud).</li>
        <li>Fortsæt ad Bonderupvejen (227/237), kør 1.9 km</li>
        <li>Tag første afkørsel i rundkørslen (retning højre).</li>
        <li>Kør ind på Gilleleje Stationsvej, kør 32 m</li>
        <li>Drej til venstre ind på Bøgebakken, kør 251 m</li>
        <li>Du er fremme og klar til fest 😀</li>
      </ul>
    </PracticalInfoBox>

    <PracticalInfoBox
      title="DIN TRYGHED"
      content="Tryghed er en topprioritet for Bakkefesten. Derfor udarbejder vi hvert år en omfattende sikkerheds- og beredskabsplan, godkendt af Politi, Kommune og Frederiksborg Brand & Redning. Alle i sikkerhedsorganisationen er frivillige, der arbejder ud fra klare retningslinjer om bl.a. adfærd og alkoholpolitik. Har du brug for hjælp under festen, så kontakt nærmeste vagt – vi er her for at passe på dig med et smil og høj service. Sikkerhedsforanstaltninger til Bakkefesten er som følger:"
    >
      <ul>
        <li>
          En crowd management funktion, der kontinuerligt overvåger
          publikumsflow m.m.
        </li>
        <li>
          En en førstehjælpsstation, hvor du kan komme med alt fra bistik,
          forstuvede fødder til hjerteanfald
        </li>
        <li>
          Førstehjælperne og vores interne præhospitale beredskab, som behandler
          tilskadekomst på stedet.
        </li>
        <li>
          Centralt placerede og runderende genkendelige crowd safety og security
          medarbejdere ved alle scener, publikumsområder og ind- og udgange.
          Alle medarbejdere med en sikkerheds- og beredskabsfunktion er trænede
          i at håndtere forskellige situationer og kan via radio hurtigt og
          effektivt kalde på yderligere hjælp.
        </li>
      </ul>
    </PracticalInfoBox>

    <PracticalInfoBox
      title="OVERNATNING"
      content="Vi tilbyder desværre ikke overnatning eller campingpladser i forbindelse med Bakkefesten. Vi henviser til selv at finde overnatning i Gilleleje og omegn."
    />
  </div>
</main>

<div style="height: 100px;"></div>
<!-- 
Skaber mellemrum mellem indholdet og bunden af siden -->

<style>
  .accordion-wrapper {
    text-align: left;
  }

  h1 {
    font-size: 40px;
    color: var(--pink);
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.8rem;
    color: var(--pink);
  }

  ul {
    font-family: neue-haas-grotesk-display, sans-serif;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 14px;
  }

  @media (min-width: 600px) {
    .tekst_praktisk {
      max-width: 700px;
      margin-bottom: 3rem;
    }

    ul {
      font-size: 18px;
    }
  }
</style>
