---
//@ts-check
import PraktiskInfoBox from "./PraktiskInfoBox.astro";
---

<div style="height: 150px;"></div>
<main>
  <section class="text_margin">
    <div>
      <h1>PRAKTISK INFO</h1>
      <p>
        Her finder du den mest nødvendige information om Bakkefesten. Hvis du
        har yderligere spørgsmål, er du mere end velkommen til at kontakte os på
        mail eller gennem vores Facebook-side.
      </p>
    </div>
  </section>
  <div class="accordion-wrapper text_margin">
    <PraktiskInfoBox
      title="ÅBNINGSTIDER TIL BAKKEFEST"
      content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
    />
    <PraktiskInfoBox
      title="ADGANGSBILLET"
      content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
    />
    <PraktiskInfoBox
      title="BETALING PÅ PLADSEN"
      content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
    />
    <PraktiskInfoBox
      title="ORDENSREGLER UNDER BAKKEFEST"
      content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
    />
    <PraktiskInfoBox
      title="KØRSELSVEJLEDNING OG PARKERINGSMULIGHEDER"
      content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
    />
    <PraktiskInfoBox
      title="OFFENTLIG TRANSPORTMULIGHEDER"
      content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
    />
    <PraktiskInfoBox
      title="DIN TRYGHED"
      content="lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates, quisquam, voluptatibus, cumque, quibusdam, voluptates"
    />
  </div>
</main>
<div style="height: 150px;"></div>

<style>
  .accordion-wrapper {
    text-align: left;
  }

  h1 {
    font-size: 40px;
    color: var(--pink);
  }

  p {
    font-size: 18px;
    line-height: 1.7rem;
  }
</style>
