---
//@ts-check
import PraktiskInfoBox from "./PraktiskInfoBox.astro";
---

<div style="height: 150px;"></div>

<!-- Skaber mellemrum mellem indholdet og toppen af siden -->

<main>
  <section class="text_margin">
    <div class="tekst_praktisk">
      <h1>PRAKTISK INFO</h1>
      <p>
        Her finder du den mest nødvendige information om Bakkefesten. Hvis du
        har yderligere spørgsmål, er du mere end velkommen til at kontakte os på
        mail eller gennem vores Facebook-side.
      </p>
    </div>
  </section>
  <div class="accordion-wrapper text_margin">
    <PraktiskInfoBox
      title="ÅBNINGSTIDER TIL BAKKEFEST"
      content="Selvom det kunne være fedt at feste hele natten, så går den desværre ikke. Vi har brug for lidt tid i de sene nattetimer til at rydde op og gøre klar til næste dag. Derfor åbner festpladsen kl. 14.00 fredag d. 11. juli og lukker igen klokken 01.30. Lørdag den 12. juli åbner festpladsen klokken 12.00 og lukker klokken 01.30. Søndag den 13. juli åbner festpladsen klokken 10.00 og lukker klokken 20.00."
    />
    <PraktiskInfoBox
      title="ADGANGSBILLET"
      content="Til Bakkefesten kan der købes billetter online hos Ticketmaster. Grundet stort pres på indgangene anbefales det at komme i god tid. Der kan ikke købes billetter i indgangen, men skal købes online."
    />
    <PraktiskInfoBox
      title="BETALING PÅ PLADSEN"
      content="I Bakkefestens barer og boder kan der kun betales med kort. Hvis man skal bruge kontanter, kan disse indsættes på Bakkefest betalingskort i bureauet på festpladsen. Bakkefest betalingskortet kan kun bruges i Bakkefestens egne boder og ikke i Ankers Tivolipark"
    />
    <PraktiskInfoBox
      title="ORDENSREGLER UNDER BAKKEFEST"
      content="Af hensyn til ro, orden og sikkerhed er der kun adgang til festpladsen for betalende gæster med gyldig billet eller armbånd. Visitation kan forekomme ved indgangene. Uautoriseret adgang med forsæt medfører politianmeldelse og en afgift på 1.000 kr. Personer med utryghedsskabende adfærd, påklædning eller afmærkning nægtes adgang. Alkohol sælges kun til personer over 18 år mod fremvisning af gyldigt ID – det er forbudt at købe eller udlevere alkohol til unge under 18. Vold, trusler og aggressiv adfærd over for personale eller gæster medfører bortvisning og politianmeldelse. Sikkerhedspersonalets anvisninger skal følges. Det er forbudt at medbringe våben, dyr, egne drikkevarer, flag, bannere, siddemøbler, fyrværkeri og laserpenne. Crowdsurfing, stagediving og lignende aktiviteter er ikke tilladt. Overtrædelse af reglerne kan føre til bortvisning og/eller politianmeldelse."
    />

    <PraktiskInfoBox
      title="KØRSELSVEJLEDNING OG PARKERINGSMULIGHEDER"
      content="Fra Helsingør motorvejen tager du frakørsel nr. 4 (E47) og kører 538 meter. Drej til venstre ind på Hornbækvej (235) og fortsæt 7,3 km. Drej til venstre ind på Esrumvej (205) og kør 7,2 km, og drej derefter til højre mod Rute 227. Følg Gillelejevej (227) i 8,6 km og tag anden afkørsel i rundkørslen. Kør ad Bonderupvejen (227/237) i 1,9 km, og tag første afkørsel til højre. Kør 32 meter ad Gilleleje Stationsvej og drej til venstre ind på Bøgebakken, hvor du kører 251 meter. Du er nu fremme og klar til fest! Parkering tæt på Festpladsen er svært, så vi fraråder at tage bilen. Nærmeste parkeringspladser findes ved Fakta, stationen, Netto og Rema. Vi anbefaler offentlig transport."
    />
    <PraktiskInfoBox
      title="OFFENTLIG TRANSPORTMULIGHEDER"
      content="Hvis du foretrækker offentlig transport, anbefaler vi, at du tjekker rejseplanen for at finde den nemmeste rute til Festpladsen. Gilleleje Station ligger lige ved siden af festpladsen, hvilket gør den til den bedste transportmulighed. Der vil være ekstra togafgange fra Gilleleje Station på natten efter festivalen. Fredag den 12. juli afgår et ekstra tog til Hillerød kl. 00.33 og kl. 01.30, samt et ekstra tog til Helsingør kl. 01.30. Lørdag den 13. juli afgår et ekstra tog til Hillerød kl. 01.30, og et ekstra tog til Helsingør afgår også kl. 01.30."
    />
    <PraktiskInfoBox
      title="DIN TRYGHED"
      content="Bakkefesten prioriterer høj sikkerhed for at sikre tryghed for gæster, medhjælpere, kunstnere og leverandører. Har du brug for hjælp, henvend dig til nærmeste vagt. Sikkerheds- og beredskabsplanen er godkendt af Politi, Kommune og Frederiksborg Brand- og Redning. Vore frivillige sikkerhedsmedarbejdere følger strenge retningslinjer og sikrer et højt serviceniveau.Vi har crowd management, en førstehjælpsstation og præhospitale beredskab til behandling af skader. Sikkerhedsmedarbejdere er placeret ved scener, publikumsområder og indgange og er klar til at reagere hurtigt og effektivt."
    />
  </div>
</main>
<div style="height: 150px;"></div>
<!-- 
Skaber mellemrum mellem indholdet og bunden af siden -->

<style>
  .accordion-wrapper {
    text-align: left;
  }

  h1 {
    font-size: 40px;
    color: var(--pink);
    margin-bottom: 1rem;
  }
  p {
    font-size: 18px;
    line-height: 1.8rem;
    color: var(--pink);
  }

  @media (min-width: 600px) {
    .tekst_praktisk {
      max-width: 700px;
      margin-bottom: 3rem;
    }
  }
</style>
