---
import ProgramCard from "./ProgramCard.astro";
---

<div class="white_space"></div>
<section class="text_margin">
  <h2>Programoversigt</h2>
  <ProgramCard />
</section>

<style>
  /* .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    flex-wrap: wrap;
    gap: 0.2rem;
    margin: 0 auto;
  }

  .card-hover:hover {
    scale: 1.05;
    transition: 0.3s;
  } */

  /* @media (max-width: 800px) {
    .grid_1-1-1 {
      grid-template-columns: repeat(2, minmax(280px, 1fr));
      gap: 0.2rem;
      margin: 0 auto;
    }
  } */
</style>

<style>
  h2,
  h3,
  h4 {
    color: var(--pink);
    text-transform: uppercase;
  }
</style>
