---
//@ts-ignore
const { event } = Astro.props;
console.log(event);

// formaterer time_start til at fjerne sekunder og erstatte ":" med ".". Slice tager kun de første 5 tegn af nummeret (hh:mm:ss) og fjerner resten.
const formattedTime = event.time_start.slice(0, 5).replace(":", ".");
---

<div class="card-container">
  <div class="hover-box">
    <img src={event.img} alt={event.title} />
    <div class="card-text">
      <h2>{event.name}</h2>
    </div>
  </div>

  <style>
    .card-container {
      position: relative;
      /* gør at billedet ikke går udover boksen når der bliver hover'et */
      overflow: hidden;
    }

    .card-container img {
      display: block;
      width: 100%;
      height: auto;
      /* så den også animere langsom ud, når musen går væk */
      transition: 0.2s ease-in;
    }

    .hover-box:hover img {
      transform: scale(1.05);
      transition: 0.2s ease-out;
    }

    .card-text {
      position: absolute;
      z-index: 100;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
      color: white;
      text-align: center;
      word-wrap: break-word;
      text-shadow: black 1px 0 10px;
      padding: 10px 0;
    }
  </style>
</div>
