---
//@ts-nocheck
import ProgramCard from "./ProgramCard.astro";
// henter data fra supabase med url og key
const url = "https://yhioxktrqmlazkwnvbit.supabase.co/rest/v1/events?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InloaW94a3RycW1sYXprd252Yml0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxNjM1MjksImV4cCI6MjA2MjczOTUyOX0.rPSCRtiiBeBLLMGOZz9pd4-ZgiCMnuScZxME3EDLybc";

// sørger for, at nøglen sendes afsted så vi har adgang til dataerne
const options = {
  headers: {
    apikey: key,
  },
};

// gør sådan vi kan se det i vores console og om dataene er hentet korrekt
const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<div class="white_space"></div>
<section class="text_margin">
  <h2>Programoversigt</h2>
  <div class="grid_1-1-1">
    <!-- viser listen af events, hvor hver event vises med sit eget kort på siden -->
    {data.map((event) => <ProgramCard {event} />)}
  </div>
</section>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    gap: 0.2rem;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  /*
  .card-hover:hover {
    scale: 1.05;
    transition: 0.3s;
  } */

  /* @media (max-width: 800px) {
    .grid_1-1-1 {
      grid-template-columns: repeat(2, minmax(280px, 1fr));
      gap: 0.2rem;
      margin: 0 auto;
    }
  } */
</style>

<style>
  h2,
  h3,
  h4 {
    color: var(--pink);
    text-transform: uppercase;
  }
</style>
