<div class="white_space"></div>
<section class="text_margin">
  <h2>Programoversigt</h2>
  <div class="grid_1-1-1">
    <img src="https://placehold.co/1x1" />
    <img src="https://placehold.co/1x1" />
    <img src="https://placehold.co/1x1" />
  </div>
</section>

<style>
  h2,
  h3,
  h4 {
    color: var(--pink);
    text-transform: uppercase;
  }
</style>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    flex-wrap: wrap;
    gap: 0.2rem;
    margin: 0 auto;
  }
</style>
