---
//@ts-ignore
const { event } = Astro.props;
---

<div class="card-container">
  <img src={event.img} alt="MAS" />
  <div class="hover-box">
    <!-- hover-inner er elementet der flipper åben når man hover -->
    <div class="hover-inner">
      <img src="/assets/card-hover.svg" alt="" class="hover-svg" />
      <h2 class="hover-text">MAS<br />KL. 18.00</h2>
    </div>
  </div>
</div>

<style>
  .card-container {
    position: relative;
    /* inline-block så containeren kun er ligeså stor som indholdet indeni */
    display: inline-block;
    /* giver en 3d effekt */
    perspective: 1000px;
  }

  .card-container img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hover-box {
    position: absolute;
    inset: 0;
  }

  /* Dette element er “låget” der starter lukket */
  .hover-inner {
    position: relative;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    transform: rotateY(-90deg);
    /* åbner fra midten, som en dør der ses fra siden */
    transform-origin: center;
    transition: transform 0.5s ease;
    /* "baggrunden" skjules når elementet er flippet */
    backface-visibility: hidden;
  }

  .card-container:hover .hover-inner {
    /* flipper åben fra midten */
    transform: rotateY(0deg);
    pointer-events: auto;
  }

  .hover-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  .hover-text {
    position: relative;
    /* sætter teksten forrest */
    z-index: 2;
  }
</style>
