---
import ButtonArrow from "./ButtonArrow.astro";
---

<img src="/assets/bakke-up_big.svg" alt="" class="hill" />
<section>
  <div class="text_margin">
    <h2>Sponsorerne bag bakkefesten</h2>
    <p>
      En stor tak til alle vores sponsorer. Jeres fantastiske støtte gør en
      afgørende forskel og er med til at gøre Bakkefesten mulig. Vi sætter stor
      pris på jeres engagement og opbakning – uden jer ville det her ikke kunne
      lade sig gøre.
    </p>
  </div>

  <figure class="scrolling-banner">
    <div class="banner-content">
      <img src="/assets/sponsor/Img01.webp" alt="Super Brugsen" />
      <img src="/assets/sponsor/Img02.webp" alt="Gilleleje Brolægning" />
      <img src="/assets/sponsor/Img03.webp" alt="A.L. Entreprise" />
      <img src="/assets/sponsor/Img04.webp" alt="Habila" />
      <img src="/assets/sponsor/Img05.webp" alt="Kongernes Nordsjælland" />
      <img src="/assets/sponsor/Img06.webp" alt="SCT Transport" />
      <img src="/assets/sponsor/Img07.webp" alt="Muff + Boholdt" />
      <img src="/assets/sponsor/Img08.webp" alt="Slagter Schmelling" />
      <img src="/assets/sponsor/Img09.webp" alt="Hotel Gilleleje Strand" />
      <img src="/assets/sponsor/Img10.webp" alt="Mini Servietten" />
      <img src="/assets/sponsor/Img11.webp" alt="Friis Biler" />
      <img src="/assets/sponsor/Img12.webp" alt="Bisgaard Subcontracting" />
      <img src="/assets/sponsor/Img13.webp" alt="Stark" />
      <img src="/assets/sponsor/Img14.webp" alt="Lyng's Jagtvåben" />
      <img src="/assets/sponsor/Img15.webp" alt="Bjarne Hansen & Søn" />
      <img src="/assets/sponsor/Img16.webp" alt="Gilleleje Cykler" />
      <img src="/assets/sponsor/Img17.webp" alt="Helle's Blomster" />
      <img
        src="/assets/sponsor/Img18.webp"
        alt="Brdr. Petersen's Maskinfabrik Gilleleje A/S"
      />
      <img src="/assets/sponsor/Img19.webp" alt="Erik Andersen ApS" />
      <img src="/assets/sponsor/Img20.webp" alt="Loppen" />
      <img src="/assets/sponsor/Img21.webp" alt="Gilleleje Skibselektro" />
      <img src="/assets/sponsor/Img22.webp" alt="Barry Rasmussen" />
      <img src="/assets/sponsor/Img23.webp" alt="Restaurant Gilleleje Havn" />
      <img src="/assets/sponsor/Img24.webp" alt="Toppens Maler & Industrilak" />
      <img src="/assets/sponsor/Img25.webp" alt="Ryom Kloak & Anlæg ApS" />
      <img src="/assets/sponsor/Img26.webp" alt="BoFinans" />
      <img src="/assets/sponsor/Img27.webp" alt="Din Tøjmand Thomas" />
      <img src="/assets/sponsor/Img28.webp" alt="Nordkysten" />
      <img src="/assets/sponsor/Img29.webp" alt="Havhøkeren" />
      <img src="/assets/sponsor/Img30.webp" alt="Mini Servietten" />
      <img src="/assets/sponsor/Img31.webp" alt="Fysio Nord" />
      <img src="/assets/sponsor/Img32.webp" alt="Gilleleje Bådebyggeri" />
      <img src="/assets/sponsor/Img33.webp" alt="Bakkehuset" />
      <img src="/assets/sponsor/Img34.webp" alt="Unique Hair" />
      <img src="/assets/sponsor/Img35.webp" alt="C System" />
      <img src="/assets/sponsor/Img36.webp" alt="Fiskehuset" />
      <img src="/assets/sponsor/Img37.webp" alt="Gilleleje Mureren" />
      <img src="/assets/sponsor/Img38.webp" alt="Leif Nielsen A/S" />
      <img src="/assets/sponsor/Img39.webp" alt="Adamsen's Deli" />
      <img src="/assets/sponsor/Img40.webp" alt="Hansen's VVS ApS" />
      <img src="/assets/sponsor/Img41.webp" alt="FVA VSS-Enterprise" />
      <img src="/assets/sponsor/Img42.webp" alt="Thorsson Byg & Anlæg" />
      <img src="/assets/sponsor/Img43.webp" alt="Gilleleje Bilsyn" />
      <img src="/assets/sponsor/Img44.webp" alt="Gilleleje Wellness" />
      <img src="/assets/sponsor/Img45.webp" alt="Gilleleje Fodterapeut" />
      <img src="/assets/sponsor/Img46.webp" alt="Svendsen & Søn" />
      <img src="/assets/sponsor/Img47.webp" alt="Gilleleje Ink" />
      <img src="/assets/sponsor/Img48.webp" alt="Chicago Pizzaria" />
      <img src="/assets/sponsor/Img49.webp" alt="Jota Håndlavet Chokolade" />
      <img src="/assets/sponsor/Img50.webp" alt="Fiskernes Deli" />
      <img src="/assets/sponsor/Img51.webp" alt="Thorups Bageri" />
      <img src="/assets/sponsor/Img52.webp" alt="Nordkosten Service" />
      <img src="/assets/sponsor/Img53.webp" alt="Bikeshop Denmark" />
      <img src="/assets/sponsor/Img54.webp" alt="Tina A Gilleleje" />
      <img src="/assets/sponsor/Img55.webp" alt="T.K. Murbyg" />
      <img src="/assets/sponsor/Img56.webp" alt="Rema 1000" />
      <img src="/assets/sponsor/Img57.webp" alt="Brunbjerg Agro" />
      <img src="/assets/sponsor/Img58.webp" alt="Tømrer & Snedker Entreprise" />
      <img src="/assets/sponsor/Img59.webp" alt="Duemose" />
      <img src="/assets/sponsor/Img60.webp" alt="Preben Andersen & Søn" />
      <img src="/assets/sponsor/Img61.webp" alt="Mac Manus" />
      <img src="/assets/sponsor/Img62.webp" alt="BBC Anlæg" />
      <img src="/assets/sponsor/Img63.webp" alt="Tandklinikken Spartan" />
      <img
        src="/assets/sponsor/Img64.webp"
        alt="Gulvfirmaet Claus Frederiksen"
      />
      <img src="/assets/sponsor/Img65.webp" alt="Hornbæk VVS & Varmeservice" />
    </div>
  </figure>
</section>

<style>
  .hill {
    margin-bottom: -2px;
  }

  section {
    background-color: var(--pink);
  }

  h2,
  h4 {
    color: var(--light_pink);
    text-transform: uppercase;
  }

  p {
    color: var(--light_pink);
  }

  .text_margin {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .scrolling-banner {
    overflow: hidden;
    width: 100%;
    background-color: var(--pink);
    padding-bottom: 3rem;
  }

  .banner-content {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 0.2rem;
    animation: scroll 20s linear infinite;
    padding: 1rem 0;
    width: 100%;
    height: auto;
  }

  .banner-content img {
    height: 110px;
    width: auto;
    object-fit: contain;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 800px) {
    .grid_1-1 {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    .banner-content img {
      height: 80px;
      width: auto;
      object-fit: contain;
    }
  }
</style>
