---
import "../styles/general.css";
import AOSInit from "../javascript/AOSInit.jsx";
const { fanenavn } = Astro.props;
// Har lavet fanenavnet(title) til en prop, så vi kan navngive fanerne forskeligt
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Webfonts -->
    <link rel="stylesheet" href="https://use.typekit.net/gez7rds.css" />
    <title>{fanenavn}</title>
  </head>
  <body>
    <slot />
    <AOSInit client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
